<a href="https://colab.research.google.com/github/Alex-Roberts27/JaxProjectData/blob/main/CreatingCleanRNADataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import the stack!
import pandas as pd
import numpy as np
from scipy.stats import chisquare
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
# typical Data Cleaning stack
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler,MinMaxScaler,OrdinalEncoder,OneHotEncoder
from sklearn.impute import SimpleImputer

In [2]:
file1 = pd.read_excel('rawcountdata.xlsx')
file1.to_csv('rawcounts.csv', index=False)
print(file1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54532 entries, 0 to 54531
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   gene_id       54532 non-null  object
 1   gene_name     54532 non-null  object
 2   Ctrl_1_RAW3   54532 non-null  int64
 3   Ctrl_2_RAW3   54532 non-null  int64
 4   Ctrl_3_RAW3   54532 non-null  int64
 5   Inf_1_RAW3    54532 non-null  int64
 6   Inf_2_RAW3    54532 non-null  int64
 7   Inf_3_RAW3    54532 non-null  int64
 8   Ctrl_1_RAW14  54532 non-null  int64
 9   Ctrl_2_RAW14  54532 non-null  int64
 10  Ctrl_3_RAW14  54532 non-null  int64
 11  Inf_1_RAW14   54532 non-null  int64
 12  Inf_2_RAW14   54532 non-null  int64
 13  Inf_3_RAW14   54532 non-null  int64
dtypes: int64(12), object(2)
memory usage: 5.8+ MB
None

In [3]:
# how much missing data is there in each of these columns?
print(file1.isnull().sum())

gene_id         0
gene_name       0
Ctrl_1_RAW3     0
Ctrl_2_RAW3     0
Ctrl_3_RAW3     0
Inf_1_RAW3      0
Inf_2_RAW3      0
Inf_3_RAW3      0
Ctrl_1_RAW14    0
Ctrl_2_RAW14    0
Ctrl_3_RAW14    0
Inf_1_RAW14     0
Inf_2_RAW14     0
Inf_3_RAW14     0
dtype: int64

In [4]:
# drop duplicate rows
dup = file1.duplicated(keep='first')
dropped = file1.loc[dup]

if not dropped.empty:
    print(f"Found {len(dropped)} duplicate rows.")
    print(dropped['rsID'].unique()[0]) # Still useful if duplicates are found to show an example.
else:
    print("No duplicate rows found.")

No duplicate rows found.

In [5]:
print(file1.shape)

(54532, 14)

In [6]:
count_columns = ['Ctrl_1_RAW3', 'Ctrl_2_RAW3', 'Ctrl_3_RAW3', 'Inf_1_RAW3', 'Inf_2_RAW3', 'Inf_3_RAW3', 'Ctrl_1_RAW14', 'Ctrl_2_RAW14', 'Ctrl_3_RAW14', 'Inf_1_RAW14', 'Inf_2_RAW14', 'Inf_3_RAW14']
# Keep only rows where ALL samples have counts > 0
file1_filtered = file1[(file1[count_columns] > 0).all(axis=1)]
file1__filtered = file1[(file1[count_columns] > 0).any(axis=1)]

In [7]:
print(file1_filtered.shape)

(19292, 14)

In [8]:
file1_filtered.to_csv('filteredrawcounts.csv', index=False)

In [9]:
# 1. Load file
df = pd.read_csv('filteredrawcounts.csv')

# 2. Define your threshold
threshold = 20

# 3. Filter the data
# Think about which comparison operator (>, <, ==) fits "above a certain value"
filtered_df = df[(df[count_columns] > threshold).any(axis=1)]

# 4. Save the cleaned data back to a CSV
filtered_df.to_csv('thresholdrawcounts.csv', index=False)

In [10]:
print(filtered_df.shape)

(16410, 14)

In [11]:
filtered_df.head()

,gene_id,gene_name,Ctrl_1_RAW3,Ctrl_2_RAW3,Ctrl_3_RAW3,Inf_1_RAW3,Inf_2_RAW3,Inf_3_RAW3,Ctrl_1_RAW14,Ctrl_2_RAW14,Ctrl_3_RAW14,Inf_1_RAW14,Inf_2_RAW14,Inf_3_RAW14
0,ENSMUSG00000056071,S100a9,162642,214016,169850,216982,183549,184734,154461,172891,169981,246357,167028,221064
1,ENSMUSG00000064351,mt-Co1,135839,124116,118699,131407,154269,161513,127324,127137,125381,151601,182144,147408
2,ENSMUSG00000032484,Ngp,131047,156639,127052,156216,120445,146654,114701,121980,122841,169631,106341,151392
3,ENSMUSG00000056054,S100a8,127175,147815,119135,155884,131392,117080,99379,120108,108316,179141,118500,152016
4,ENSMUSG00000069516,Lyz2,100193,114564,96148,117199,109387,106339,80542,91608,91035,154086,104237,127101

In [15]:
counts = pd.read_csv('thresholdrawcounts.csv')

workingcounts = counts.drop('gene_name', axis=1)
workingcounts.to_csv('droppednamesthreshrawcount.csv', index=False)

print(workingcounts.shape)

(16410, 13)